<!DOCTYPE html>
<html>
<head>
  <title>{{ page.page_title }} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/styles/app.css">
  <meta name="robots" content="index,follow">
  <meta property="og:image" content="/public/images/my-photo.png">
  <meta property="article:author" content="{{ site.author }}">

  {% if page.post_title %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ page.post_title }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="article:published_time" content="{{ page.date_posted | date_to_xmlschema }}">
    <meta itemprop="keywords" content="{{ page.tags }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ page.tags }}">
    <meta name="url" content="{{ site.url }}{{ page.url }}">
  {% else %}
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <meta itemprop="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="url" content="{{ site.url }}">
  {% endif %}
  
</head>
<body>
  <header class="top-header">
    <section class="top-header-wrapper">
      <h1><a href="/">Portfolio</a></h1>
      <nav>
        <div class="burger">
          <label for="toggle-menu">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <input id="toggle-menu" type="checkbox">
        <ul>
          <li><a href="/blog">Check out my blog!</a></li>
          <li>
            {% if page.onlink == 'home' %}
              <a class="onlink" href="/">Home</a>
            {% else %}
              <a href="/">Home</a>
            {% endif %}
          </li>
          <li>
            {% if page.onlink == 'projects' %}
              <a class="onlink" href="/projects">Projects</a>
            {% else %}
              <a href="/projects">Projects</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </section>
  </header>

  <section class="content-container">
    <section class="contents">
      {{ content }}
    </section> 

    <footer class="page-footer">
      <section class="cl-2">
        <section class="load-defaults">
          <h1>April Mintac Pineda</h1>
          <p>aprilmintacpineda@gmail.com</p>
        </section>
        <section>
          <ul>
            <li>
              <a class="with-icon" href="https://www.github.com/aprilmintacpineda" target="_new">
                <img src="/public/images/GitHub-Mark-32px.png">
                GitHub/aprilmintacpineda
              </a>
            </li>
            <li>
              <a class="with-icon" href="https://www.linkedin.com/in/april-mintac-pineda/" target="_new">
                <img src="/public/images/In-2C-34px-R.png">
                LinkedIn/april-mintac-pineda
              </a>
            </li>
          </ul>
        </section>
      </section>
      <section class="copy-right">
        &copy; April Mintac Pineda
      </section>
    </footer>
  </section>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-104431340-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>