<!DOCTYPE html>
<html>
<head>
  <title>AMP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/styles/app.css">
</head>
<body>
  <header class="top-header">
    <h1><a href="/">Portfolio</a></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact-me">Contact me</a></li>
      </ul>
    </nav>
  </header>

  <section class="content-container">
    <section class="contents">
      {{ content }}
    </section> 

    <footer class="page-footer">
      <section class="cl-2">
        <section>
          <h1>April Mintac Pineda</h1>
          <p>aprilmintacpineda@gmail.com</p>
        </section>
        <section>
          <ul>
            <li>
              <a class="with-icon" href="https://www.github.com/aprilmintacpineda">
                <img src="/public/images/GitHub-Mark-32px.png">
                GitHub/aprilmintacpineda
              </a>
            </li>
            <li>
              <a class="with-icon" href="https://www.linkedin.com/in/april-mintac-pineda/">
                <img src="/public/images/In-2C-34px-R.png">
                LinkedIn/april-mintac-pineda
              </a>
            </li>
          </ul>
        </section>
      </section>
      <section class="copy-right">
        &copy; April Mintac Pineda
      </section>
    </footer>
  </section>
</body>
</html>