---
layout: default
---

<section class="two-columns-content-wrapper">
  <section class="left-bar">
    <div class="profile-image">
      <img src="/public/images/my-photo.png">
    </div>
    <ul id="make-fixed">
      <li>
        <q>
          We should encourage everyone to become success seekers, not failure avoiders. Remember; In this world even the most perfect being has its imperfections, and the most imperfect its perfections.
        </q>
      </li>
      <li>
        <a class="with-icon" href="https://en.wikipedia.org/wiki/Philippines" target="_new" title="https://en.wikipedia.org/wiki/Philippines">
          <img src="/public/images/Flag-of-the-Philippines.png">
          Philippines
        </a>
      </li>
      <li>
        <h1>Keep in touch</h1>

        <p class="with-icon">
          <img src="/public/images/logo_gmail_32px.png">
          aprilmintacpineda@gmail.com
        </p>

        <p>Or <a href="/contact-me">use the contact form</a>.</p>
      </li>
      <li>
        <h1>Official accounts</h1>

        <a class="with-icon" href="https://www.github.com/aprilmintacpineda" target="_new" title="https://www.github.com/aprilmintacpineda">
          <img src="/public/images/GitHub-Mark-32px.png">
          GitHub/aprilmintacpineda
        </a>

        <a class="with-icon" href="https://www.linkedin.com/in/april-mintac-pineda" target="_new" title="https://www.linkedin.com/in/april-mintac-pineda">
          <img src="/public/images/In-2C-34px-R.png">
          LinkedIn/april-mintac-pineda
        </a>
      </li>
    </ul>
  </section>
  <section class="right-bar">
    {{ content }}
  </section>
</section>

<script type="text/javascript" src="/public/scripts/make-left-bar-fixed.js"></script>