.p-centered-message-box-wrapper
  height: calc(100vh - 210px)
  position: relative
.p-centered-message-box
  @media all and (max-width: $mobile_wide)
    width: 100%
  margin: 0 auto
  +pCenter
  width: 60%
  .title
    font-weight: normal
    font-size: 40px
    border-bottom: $border-bottom
    padding-bottom: 15px
    margin-bottom: 15px
  p
    line-height: 30px